@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
.cinzel-font {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;




link.active{
  color: yellow;
}
  
.bg-chef-serveice{
  background-image: url('./assets/home/chef-service.jpg');
  background-repeat: no-repeat;
}